body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --colorb:#048853;
}
#root{
    z-index:3;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color:rgba(255, 255, 255, 0.6);;
    height:75px;
}
*{
    z-index:2;
}
.aksen{
    z-index:1;
}
/* hero sexsion */
#hero{
    background: linear-gradient(160deg, var(--colorb), #000);
    height :100vh;
    width:100%;
}.img-hero{
    height:100%;
    z-index:1;
}
.hero-tagline h1{
    font-weight : 700;
    font-size:50px;
    line-height:72px;
    color:#198754;
}
.hero-tagline p{
    font-size:16px;
    color:#fff;
    line-height:30px;
    width:85%;
}
.card-layanan{
    width:100%;
    height:313px;
    border-radius:5px;
    background:white;
    padding:40px;
    box-shadow: 0 0 7px rgba(0,0,0,0.05);

}
.cirle-icon{
    width:70px;
    height:70px;
    background-color:var(--colorb);
    border-radius:50%;
    
}
.card-layanan:hover{
    width:100%;
    height:313px;
    border-radius:5px;
    background:linear-gradient(160deg,var(--colorb),rgb(46,46,46));
    padding:40px;
    box-shadow: 0 0 7px rgba(0,0,0,0.05);
    transition: all .1s ease-in;
    cursor:pointer;
}
.card-layanan:hover .cirle-icon{
    width:70px;
    height:70px;
    background-color:white;
    border-radius:50%;
    transition: all .1s ease-in;
    cursor:pointer;
}
.card-layanan:hover h3{
    transition: all .3s ease-in;
    cursor:pointer;
    color:white;
}
.card-layanan:hover p{
    transition: all .3s ease-in;
    color:white;
    cursor:pointer;
}
#seart{
    background-image: url(./assets/Img-search.png);
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
}
#seart h1{
font-family: Poppins;
font-size: 48px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: center;

}
#seart p{
height: 72px;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;


}
.input-cari{
    height:88px;
}
.input-cari:focus{
    border:none;
}
.input-cari .button-secondary {
    width:200px;
    background-color:white;
    background-size:rgba(255,255,255,0.8);
    color:var(--colorb);
    font-size:18px;
    font-weight:600px;
    border:none;
    height:88px !important;
}
.button{
    height:88px;
    background-color:var(--colorb);
    color:white;
    border:none;
    font-size:35px;
    font-weight:500px;
    width:135px;

}
.nav-tabs .nav-link{
    background-color:rgba(255,255,255,0.5);
    color:#000;
    border:none;

}
.nav-tabs .nav-link.active{
    background-color:rgba(255,255,255,0.8);
    color:var(--colorb);
}
.nav-tabs .nav-link{
    background-color:rgba(255,255,255,0.5);
    
}
.card{
    height:550px;
    border:none;

}
.card-body h4{
    color:#000;
    font-size:24px;
    line-height:.8rem;
}
.card-body p{
    color:#000;
    font-size:14px;

}
.card:hover{
    background:linear-gradient(170deg, var(--colorb),#007245,#007245,#000);
    box-shadow:0 10px 20px rgba(0,0,0,0.5);
    transition:all ease-in-out .3s;
}
.card:hover .card-body h4{
    color:white;
    transition:all ease-in-out .3s;
}
.card:hover .card-body p{
    color:white;
    transition:all ease-in-out .3s;
}
.card-fasilitas{
    position:absolute;
    right:0;
    left:0;
    bottom:10px;
    
}
.card-fasilitas span{
    margin-top:18px;
    font-weight:500;
    color:#000;
}
/* card fitur */
.btn-fitur{
    width:238px;
    height:63px;
    background-color:var(--colorb);
    border:none;
    font-size:20px;
    font-weight:500;
    color:white;
}
#fitur h2{
    font-size:48px;
    font-weight:600px;
    color:var(--colorb);
}
.card-fitur .overlay{
    background-color:rgba(0,0,0,0);
    opacity:0;
}
.card-fitur .overlay:hover{
    background-color:rgba(0,0,0,0.6);
    opacity:1;
    transition:all ease-in-out .3s;
}
.button-arrow-left{
    width:61px;
    height:61px;
    border:none;
    border-radius:50%;
    background-color:var(--colorb);
    
    
}
.button-arrow-right{
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background-color:var(--colorb);

}
.fos{
font-size: 36px;
font-weight: 600;
line-height: 54px;
letter-spacing: 0em;
color:white;
}
.los{

font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
color:white;


}
.ros{
    
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    color:white;

    
}
.navbar-nav{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color:rgba(255, 255, 255, 0.6);;
}
.btn-sur{
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
color:white;
width: 150px;
height: 45px;
background: #00985B;

}
#form{
    background-image: url(./assets/kontak-img.png);
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    
}
.button2{
    width: 133px;
    height: 40px;
    background: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #048853;
    border:none;

}
.button1{
    width: 133px;
    height: 40px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    border:none;
    margin-right:35px;

}
.nos{
    width: 450px;
    height: 180px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
.kor{
    background: rgba(0, 0, 0, 0.5);
    height:100vh;
    padding:148px 0 148px 0;
    
}
.jor{
    height:75px;
}
.loser{
    height: 75px;
    background: #00985B;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color:white;
    border:none;
}
.form-control{
    height: 75px !important;
    
}
.false{
    width:100%;
    background: #000000;
    
}
.form-control{
    height:88px !important;
}









@media screen and (max-width :922px){
    .btn-fitur{
        width:100%;}

}
@media screen and (max-width :576px){
    .hero-tagline h1 {
        line-height:52px;
    }
    .img-hero{
        width:75%;
        height:auto;
    }
    h2{
        font-size:35px;
    }
    .text-dark{
        font-size:16px;
    }
    .card-layanan{
        margin:15px 0;
    }
    #seart h1{
        font-size:42px;
        line-height:52px;
    }
    #seart p{
        font-size:18px;
        line-height:24px;
        
    }
    .input-cari .button-secondary {
        width:50%;
        height:60px;
        
    }
    .button{
        height:60px;
        width:30%;
        font-size:20px;
    
    }
    .form-control{
        height:60px !important;
    }
    .nos{
        font-size:30px;
        windth:100%:
    }
    .card-contak{
        height:auto;
    }
    .card-contak h2{
        font-size:24px;
        line-height:60px;

    }
    .loser{
        height: 50px;
        font-size:18px;
    padding:auto;}
    
    
}
@media screen and (max-width :350px){
    .btn-fitur{
        width:100%;}
        

}